.lineinput {
    padding: 5px;
    margin: 10px;
}

.inputLine {
    padding: 20px;
    background-color: aliceblue;
}

.line {
    display: block;
    overflow: hidden;

    background-color: antiquewhite;
}

.value {
    padding-left: 8px;
    padding-right: 4px;
    cursor: pointer;
}

.dollar {
    text-align: right;
    padding-left: 4px;
    padding-right: 4px;
}

.dollar-gain {
    background-color: ghostwhite;
}

.dollar-loss {
    background-color: antiquewhite;
}

.percentage {
    text-align: right;
    padding-left: 4px;
    padding-right: 8px;
}

.percent-gain {
    background-color: beige;
}

.percent-loss {
    background-color: darksalmon;
}